@media screen and (min-width: 480px) {
  .container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 426px;
  }

  .hero-section {
    min-height: 436px;
    background-image: var(--linear-gradient),
      url(../images/hero_image_mobile.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero-section {
      background-image: var(--linear-gradient),
        url(../images/hero_image_mobile_2x.jpg);
    }
  }

  .menu-open {
    border: none;
    background: inherit;
  }

  .menu-icon {
    stroke: black;
  }

  .hero-title {
    text-align: center;
    font-size: 36px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto;
    margin-bottom: 72px;
  }

  .features-list:last-child {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 0;
  }

  .features-subtitle {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
  }

  .features-rectangle {
    display: none;
  }

  .doing-img {
    width: 360px;
  }

  .team-container {
    max-width: 426px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .team-list {
    gap: 72px 24px;
  }

  .customers-container {
    max-width: 456px;
    margin: 0 auto;
    padding: 0 15px;
  }

  .filter-button-list {
    max-width: 428px;
  }

  .modal-close:is(:hover, :focus) {
    background-color: var(--active-states-color);
    fill: #fff;
  }
}
