:root {
  --primary-text-color: #434455;
  --secondary-text-color: #2e2f42;
  --footer-text-color: #e7e9fc;
  --primary-bg-color: #2e2f42;
  --hero-bg-color: rgba(46, 47, 66, 0.7);
  --light-mode-bg: #f4f4fd;
  --active-states-color: #4d5ae5;
  --pressed-state-color: #404bbf;
  --linear-gradient: linear-gradient(
    rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)
  );
  --footer-item-activ: rgba(255, 255, 255, 0.1);
  --footer--item-pressed: #31d0aa;
  --light-slate: #8e8f99;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: var(--primary-text-color);
  background-color: #fff;
  margin: 0;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1158px;
}

.header {
  background-color: #fff;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logo-navigation {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logo {
  color: #2e2f42;
}

.header-container {
  display: flex;
  align-items: center;
  height: 72px;
}

.header-navigation {
  display: flex;
  margin-right: auto;
}

.header-list {
  display: flex;
  gap: 40px;
}

.header-list-item {
  position: relative;
}

.active {
  display: flex;
  align-items: flex-end;
}

.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--pressed-state-color);
  position: absolute;
  bottom: -25px;
}

.header-address {
  display: flex;
  align-items: center;
}

.address-list {
  display: flex;
  gap: 40px;
  font-style: normal;
}

.nav-link {
  position: relative;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.nav-link:hover,
.nav-link:focus,
.nav-link.active {
  color: var(--pressed-state-color);
  }

.address-link:hover,
.address-link:focus {
  color: var(--pressed-state-color);
  }

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  transition-property: color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.hero-section {
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 600px;
  max-width: 1440px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--primary-bg-color);
  background-image: var(--linear-gradient), url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  width: 496px;
  text-align: center;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #fff;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-button {
  font-family: inherit;
  background: var(--active-states-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  padding: 16px 32px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition-property: background-color, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 24px;
}

.modal-close {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-left: auto;
  padding: 0;
  transition-property: background-color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.modal-close:is(:hover, :focus) {
  background-color: var(--active-states-color);
  fill: #fff;
  }

.features-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.features-rectangle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 264px;
  height: 112px;
  background: #f4f4fd;
  border-radius: 4px;
  margin-bottom: 8px;
}

.features-icons {
  width: 64px;
  height: 64px;
  fill: currentColor;
}

.features-subtitle,
.team-subtitle,
.filter-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  margin: 0 0 8px 0;
}

.features-list {
  display: flex;
  gap: 24px;
}

.features-item {
  width: 264px;
}

.features-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.doing-section {
  padding-bottom: 120px;
}

.doing-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 72px;
}

.doing-list {
  display: flex;
  align-items: center;
  gap: 24px;
}

.team-section {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: var(--light-mode-bg);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--secondary-text-color);
}

.team-title {
  background-color: var(--light-mode-bg);
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  text-align: center;
  background: var(--light-mode-bg);
  gap: 24px;
}

.team-item {
  background: #fff;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}

.team-card {
  padding: 32px 16px;
}

.team-subtitle {
  margin-bottom: 8px;
}

.team-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  margin-bottom: 8px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-color: var(--active-states-color);
  background-color: var(--active-states-color);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.team-soc-link:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
}

.team-soc-icon {
  width: 16px;
  height: 16px;
  fill: #fff;
}

.customers-section {
  padding-top: 130px;
  padding-bottom: 120px;
}

.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.customers-item {
  width: 168px;
  height: 88px;
}

.customers-client-link:is(:hover, :focus) {
  border-color: var(--pressed-state-color);
}

.customers-client-link:is(:hover, :focus) .customers-client-icon {
  fill: var(--pressed-state-color);
}

.customers-client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  color: var(--light-slate);
  transition-property: color, fill;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms;
}

.customers-client-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.card-content {
  padding: 32px 16px;
  border-right: 1px solid #e7e9fc;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
}

.filter-section {
  padding-top: 96px;
  padding-bottom: 120px;
}

.filter-button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
  gap: 48px 24px;
}

.filter-button:hover,
.filter-button:focus {
  color: #fff;
  background-color: var(--pressed-state-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border: solid 1px var(--pressed-state-color);
}

.filter-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--active-states-color);
  background: var(--light-mode-bg);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  transition-property: box-shadow, background-color, border;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}


.filter-list-item {
  position: relative;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  width: calc((100% - 48px) / 3);
}

.filter-list-link:is(:hover, :focus) .filter-cover-text {
  transform: translateY(0);
}

.filter-cover-wrap {
  position: relative;
  overflow: hidden;
}

.filter-list-link {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filter-list-link:hover,
.filter-list-link:focus {
  display: block;
  transform: translateY(0);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.footer-list-link {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filter-cover-text {
  position: absolute;
  top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: var(--active-states-color);
  padding: 40px 32px;
  height: 100%;
  transform: translateY(100%);
  transition-property: color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.filter-subtitle {
  margin-bottom: 8px;
}

.filter-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.footer {
  padding: 100px 0;
  background: var(--primary-bg-color);
}

.footer-container {
  display: flex;
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer-section {
  margin-right: 120px;
}

.navi-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text-color);
  width: 264px;
  margin-top: 16px;
}

.footer-soc-section {
  margin-right: 80px;
}

.footer-soc-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--footer--item-pressed);
}

.footer-soc-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--footer-item-activ);
  transition-property: background-color;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
}

.footer-soc-icon {
  fill: #fff;
}

.footer-subscribe {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.footer-email {
  width: 264px;
  height: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  background-color: var(--primary-bg-color);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-right: 24px;
}

.footer-subscribe-btn {
  padding-top: 40px;
}

.subscribe-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 165px;
  height: 40px;
  background: var(--active-states-color);
  border-radius: 4px;
  border: 1px solid var(--active-states-color);
  transition-property: background-color, box-shadow, border;
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 250ms;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #ffffff;
  gap: 16px;
}

.subscribe-btn:is(:hover, :focus) {
  background-color: var(--pressed-state-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscribe-btn-icon {
  fill: #fff;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
